.circleTimer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
 }
 
 .remainingTime {
	font-size: 32px;
	font-weight: bold;
 }
 
 .pulse {
	animation: pulse 1s infinite;
 }
 
 @keyframes pulse {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.2);
	}
	100% {
	  transform: scale(1);
	}
 }